* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    color: #5E936C;
    background-color: #E8FFD7;

}

header {
    display: flex;
    justify-content: space-between; /* การแบ่งเนื้อหา ด้วยช่องว่าง */
    align-items: center;
    padding: 5px 50px;
    background: white;
    border-radius: 0 0 15px 15px;
    font-size: 18px;
}

header .logo {
    font-size: 30px;
    font-weight: bold;
    color: #3E5F44;
}

header nav ul {
    list-style: none; /* นำหัวเลขออก */
    display: flex;
    gap: 20px;
}

header nav a {
    text-decoration: none;
    color: #5E936C;
}

header .btn {
    text-decoration: none;
    background-color: #3E5F44;
    color: white;
    border-radius: 20px;
    padding: 8px 16px;
}

.home {
    margin: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background-image: url(/resources/BonsaiMainPage.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 81%;
    background-position: right;
}

.text-content {
    max-width: 40%; /*ข้อความความยาวสูงสุดไม่เกิน 40% ของกรอบ*/
}

.text-content h1 {
    margin-top: 0px;
    color: #3E5F44;
    font-size: 90px;
    font-weight: bolder;
}

.text-content h1 span {
    font-size: 80px;
}

.text-content h2 {
    margin-bottom: 40px;
    font-size: 40px;
}

.text-content p {
    margin-bottom: 40px;
    color: 93DA97;
}

.text-content .btn {
    background-color: #3E5F44;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 18px;

}

.videoguide {
    background-color: white;
}

#break {
    position: absolute;
    object-fit: cover;
    width: 1480px;
    z-index: 0;
}

.video {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
    padding: 100px 0;
    padding-bottom: 50px;
}

.shop {
    display: block;
    background-color: white;
    padding-bottom: 40px;
}

.shop h2 {
    font-size: 40px;
    color: black;
    margin: 0px 50px 10px 110px;
    padding: 0 15px;

}

.ctn {
    display: flex;
    gap: 10px;
    margin: 40px 110px 10px 110px;
    padding: 0 15px;

}

.card {
    border: 1px solid #ddd;
    text-align: center;
    width: 275px;
    background: #f9f9f9;
    border-radius: 8px;
    color: black;
    font-size: 18px;

}

.card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.price {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #5E936C;
}

.product {
    text-decoration: none;
    color:#3E5F44;
}

.footer-container {
    background-color: #333;
    color: white;
    padding: 40px 20px;
    display: flex;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-title {
    font-size: 28px;
    margin-bottom: 15px;
}

.footer-description {
    margin-bottom: 25px;
    font-size: 13px;
    line-height: 1.6;
}

.content-table {
    width: 100%;
    border-collapse: collapse;
}

.content-table th,
.content-table td {
    padding: 10px 15px;
    text-align: left;
}

.content-table tr {
    display: block;
}